{% extends "contact/base.html.twig" %}

{% block title %}Contacts{% endblock %}

{% block content %}
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Telephone No.</th>
                    <th>Email Address</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                {% for contact in contacts %}
                    <tr>
                        <td>
                            <a href="{{ path("contact_view", {'id': contact.id}) }}">{{ contact.fullname }}</a>
                        </td>
                        <td>{{ contact.telephoneNumber }}</td>
                        <td>{{ contact.email }}</td>
                        <td>
                            <a href="{{ path('contact_edit', {'id': contact.id}) }}" class="btn btn-light">Edit</a>
                            <a href="{{ path('contact_delete', {'id': contact.id}) }}" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No contacts found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('contact_create') }}" class="btn btn-primary">New contact</a>
    </div>
{% endblock %}
